
    /*body {
        background-image:url('C:\\Users\\PRIYANKA A H\\Downloads\\Deployment\\static\\autism6.jpeg');
        background-size:contain;
        background-position:center;
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
    }*/
    body {
        background-image: url("/static/autism.jpg");
        background-size: cover; /* Adjust background image size */
        background-repeat: no-repeat; /* Prevent background image from repeating */
        background-attachment: fixed; /* Ensure background image stays fixed */
    }

    
    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        background-color: #ccff99;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .form-group {
        margin-bottom: 20px;
    }
    
    label {
        display: block;
        margin-bottom: 5px;
    }
    
    input[type="number"] {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #0056b3;
    }
    
    button:focus {
        outline: none;
    }
    